/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.container {
	max-width: 1180px;
	margin: 0 auto;
}
.content {
	flex: 1 1 auto;
}
.hi {
background-color: #554621;
padding: 50px 0;
}

.hi__row {
	display: flex;
	justify-content: space-between;
}
.hi__body {
	color: #fff;
	padding: 0px 30px 0px 0px;
}
.hi__title {
	text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
	font-size: 60px;
	margin: 0px 0px 38px 0px;
}
.hi__list {}
.hi__list li{
	background: url('../img/icons/icon.png') 0 1px no-repeat;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
	font-size: 20px;
	padding: 0px 0px 0px 36px;
	margin: 0px 0px 15px 0px;
}
.hi__list li:last-child {
	margin: 0;
}
.hi__image :hover {
	box-shadow: 1px 3px 27px #9337B7 ;
}

.title {
	font-size: 30px;
	line-height: 36px;
	color: #554621;
}

.what {
	padding: 50px 0;
}
.what__row {
	display: flex;
}
.what__image {
	flex: 0 0 430px;
}
.what__image img {
	max-width: 100%;
}
.what__body {
	flex: 1 1 auto;
	padding: 0px 0px 0px 38px;
}
.what__title {
	margin: 0px 0px 33px 0px;
}
.what__text {
}
.what__text p {
	margin: 0px 0px 25px 0px;
	color: #333333;
	font-size: 16px;
	line-height: 24px;
}

.columns__image {
	max-width: 150px;
}

a:hover{
	color: red;
}
.columns {
	background-color: #f5f5f5;
	padding: 50px 0 20px 0;
}
.container {
}
.columns__title {
	text-align: center;
	margin: 0px 0px 30px 0px;
}

.columns__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -8px;
}
.columns__column {
	padding: 0px 8px;
	flex: 0 1 50%;
	margin: 0px 0px 30px 0px;
}
.columns__item {

}
.item {
}
.item__row {
	display: flex;
}
.item__image {
	flex: 0 0 200px;
	text-align: center;
}
.item__body {
	flex: 1 1 auto;
	padding: 0px 0px 0px 15px;
}
.item__title {
	font-size: 24px;
	line-height: 30px;
	color: #445161;
	margin: 0px 0px 13px 0px;
}
.item__title:hover {
	color: #445161;
}

.item__text {
	color: #333333;
	font-size: 16px;
	line-height: 24px;
}


.vertical {
	padding: 50px 0;
}

.vertical__title {
	text-align: center;
	margin: 0px 0px 30px 0px;
}
.title {
}
.vertical__body {
	max-width: 999px;
	margin: 0 auto;
}
.vertical__row {
	display: flex;
	margin: 0px -22.5px;
}
.vertical__column {
	padding: 0px 22.5px;
	flex: 0 1 33.333%;
	display: flex;
}
.vertical__item {
	background-color: #554621;
	color: #fff;
	border-radius: 5px;
	border: 1px solid #554621;
	padding: 0px 0px 20px 0px;
	display: flex;
	flex-direction: column;
}
.vertical__subtitle {
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
	padding: 12px 0;
}
.vertical__lable {
	color: #554621;
	background-color: #fff;
	text-align: center;
	padding: 15px 0;
	font-size: 27px;
}
.vertivcl__text {
	padding: 20px;
	font-size: 14px;
	line-height: 24px;
	flex: 1 1 auto;
}
.vertivcl__text p {
	margin: 0px 0px 15px 0px;
}
.vertivcl__text p:last-child {
	margin: 0px;
}

.vertivcl__btn {
	margin: 0 20px;
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #ffffff;
	border-radius: 5px;
	font-size: 18px;
	color: #445161;
}



.footer {
	background-color: #f5f5f5;
}
.footer__row {
	display: flex;
	height: 65px;
	justify-content: center;
	align-items: center;
}
.footer__text {
	color: #445162;
	font-size: 12px;
	letter-spacing: 0.3px;
}


